<br>
<% post.comments.forEach(function (comment, index) { %>
<p><img src="<%= comment.head %>" class="l_head" alt=""><a href="<%= comment.website %>"><%= comment.name %></a></p>
<span class="info"> 回复于 <%= comment.time %></span>
<p><%- comment.content %></p>
<% }) %>

<form method="post">
    <% if (user) { %>
    姓名: <input class="form-control input-sm" style="width: 40%; margin-bottom:0" type="text" name="name" value="<%= user.name %>"><br>
    邮箱: <input class="form-control input-sm" style="width: 40%; margin-bottom:0" type="text" name="email" value="<%= user.email %>"><br>
    网址: <input class="form-control input-sm" style="width: 40%; margin-bottom:0" type="text" name="website" value="/u/<%= user.name %>"><br>
    <% } else { %>
    姓名: <input class="form-control input-sm" style="width: 40%; margin-bottom:0" type="text" name="name" value=""><br>
    邮箱: <input class="form-control input-sm" style="width: 40%; margin-bottom:0" type="text" name="email" value=""><br>
    网址: <input class="form-control input-sm" style="width: 40%; margin-bottom:0" type="text" name="website" value="http://"><br>
    <% } %>
    <textarea class="form-control" name="content" id="" cols="80" rows="5"></textarea><br>
    <input class="btn btn-primary" type="submit" value="留言">
</form>